<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
</head>
<body>
    <h1>Add a Garment</h1>
    <form action="/garment" method="post">
        <label for="name">Nama Garment: </label>
        <input type="text" id="name" name="name">
        <br><br>
        <label for="location">Lokasi: </label>
        <input type="text" id="location" name="location">
        <br><br>
        <label for="contact">Kontak: </label>
        <input type="text" id="contact" name="contact">
        <br><br>
        <button type="submit" style="display: block;">Tambah Data</button>
    </form>
    <br>
    <a href="/garment">Kembali Ke Semua Garments</a>
</body>
</html>