<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garment</title>
</head>
<body>
    <h1>Garments</h1>
    <h3><%= flash_message %></h3>
    <a href="/garment/create">Add Garment</a>
    <ul>
        <% for(let garment of garments) { %>
        <li>
            <a href="/garment/<%= garment.id %>">
                <%= garment.name %>
            </a>
        </li>
        <% } %>
    </ul>
</body>
</html>